<!DOCTYPE html>
<html>
	<head>
		<title>Sign Up</title>

		<meta charset="utf-8">
    		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    		<meta name="viewport" content="width=device-width, initial-scale=1">

		    <!--Bootstrap-->
		<link href= "css/bootstrap.css" rel="stylesheet">


		       <style>
body{
background-repeat: no-repeat;
background-position: 50 50;
}
</style>
<script >
var imgs=new Array()
imgs[0]="https://images5.alphacoders.com/338/338105.jpg";
imgs[1]="https://s-media-cache-ak0.pinimg.com/originals/ee/5e/a4/ee5ea4f918db263a72c01128987d88f0.jpg";
imgs[2]="http://www.freehdimages.in/uploads/large/niagara-falls-beautiful-nature-wallpaper.jpg";
var speed=2000
var processed=new Array()
for (i=0;i<imgs.length;i++){
processed[i]=new Image();
processed[i].src=imgs[i];
}
var inc=-1;
function slideimg(){
if (inc<imgs.length-1)
inc++;
else
inc=0;
document.body.background=processed[inc].src;
}
if (document.all||document.getElementById)
window.onload=new Function('setInterval("slideimg()",speed)');
</script>
	</head>

        	<body>





         <td colspan=2><center><font size=4><b>
		<div>
			<h1>INSTAGRAM CLONE</h1>
			<h3>Sign Up</h3>

			<form method="post">
				{% csrf_token %}

				<div>
                <label for="username">Username:  </label>
                <input id="username" type="text" placeholder="username" name="username" value={{ username }}>
            </div><br/>

            <div>
                <label for="name">Name:  </label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="name" type="text" placeholder="name" name="name" value={{ name }}>
            </div><br/>

            <div>
                <label for="email">Email: </label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="email" type="text" placeholder="abc@gmail.com" name="email" value={{ email }}>
            </div><br/>

            <div>
                <label for="password">Password: </label>
                <input id="password" type="password" name="password" placeholder="enter_password" value={{ password }}>
            </div><br/>
                <input type="submit" value="Sign Up"  style=font-size:10pt;color:black;background-color:#07c;border:2px;height:35px;width:90px">
			</form>
		</div><br><br>
		<!--Javascript files-->
		<!--Jquery library-->
		<!--Bootstrap js Library-->
		<script src="js/bootstrap.js"></script>
	<div><h3>Already a user?</h3><a href="/login/">Login</a> </div>
	 </b></font></center></td>
	</body>
</html>